html {
    background-color: #eee;
}

body {
    color: #333;
    background-color: #fff;
    font-family: Georgia, serif;
    max-width: 70ch;
    margin: auto;
    padding: 2ch;
    box-shadow: -1px 0 10px grey, 1px 0 10px grey, 0 1px 10px grey;
}

header {
    text-align: center;
}

nav {
    margin-left: -2ch;
    margin-right: -2ch;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

nav li {
    display: inline;
    text-align: center;
    float: left;
}

nav a {
    display: inline-block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    background-color: #e6baac;
}

a#current-page {
    background-color: #9cc2cf;
}

footer {
    font-size: x-small;
}
