html {
    background-color: #eee;
}

body {
    color: #333;
    background-color: #fff;
    font-family: Georgia, serif;
    max-width: 70ch;
    margin: auto;
    box-shadow: -1px 0 10px grey, 1px 0 10px grey, 0 1px 10px grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header#main-header {
    text-align: center;
    padding: 2ch;
}

header#main-header h1 {
    margin: 0;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    display: flex;
}

nav li {
    text-align: center;
    float: left;
}

nav a {
    display: inline-block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    background-color: #e6baac;
}

a#current-page {
    background-color: #9cc2cf;
}

main {
    padding: 0 1ch;
    flex-grow: 1;
}

footer#main-footer {
    font-size: x-small;
    padding: 0 1ch;
    height: 100%;
}
